@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.dark-theme {
    --bg-dark: #121212;
    --surface-dark: #1E1E1E;
    --on-background: #FFFFFF;
    --on-surface: #FFFFFF;
    --on-surface-variant: #BDBDBD;
    --g-blue: #4285F4;
    --g-red: #DB4437;
    --g-yellow: #F4B400;
    --g-green: #0F9D58;
}
